form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}
input {
    border-radius: 8px;
    border: solid 1px #ccc;
    padding: 10px;
    display: flex;
}



.form-title {
    padding-left: 200px;
}